<!-- vim: set ft=html: -->
<!DOCTYPE html>
<html>
  <head>

    <title>{% block title%}Global Chat{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,interactive-widget=resizes-content">
    <link rel="icon" href="{{ url(path="/static/logo.webp") }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    {% block head %}
    {% endblock head%}
  </head>
  <body>
    {% block content %}
    {% endblock content %}

    <script>
      const ROOT_URL="{{ url(root=true) | safe }}";
    </script>
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
