.word {
  transition:
    border-color 0.2s,
    background-color 0.2s;
  background-color: transparent;
  border: solid transparent 2px;
  border-radius: 0.4em;
  cursor: pointer;

  padding: 0px 0px;
  margin: 0px -2px; /* border size + padding */
}
.word.good:hover {
  border-color: var(--color-bad);
  background-color: var(--color-bad-bg);
}
.word.bad:hover,
.word.unknown:hover {
  border-color: var(--color-good);
  background-color: var(--color-good-bg);
}

.bad {
  text-decoration: var(--color-bad) underline;
  /* Specify text-decoration-thickness because some browsers don't support it*/
  text-decoration-thickness: 2px;
}
.unknown {
  text-decoration: var(--color-unknown) underline;
  /* Specify text-decoration-thickness because some browsers don't support it*/
  text-decoration-thickness: 2px;
}

#wfcommit-spinner {
  font-size: 1rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  pointer-events: none;
}
