.word {
  transition: border-color 0.2s, background-color 0.2s;
  background-color: transparent;
  border: solid transparent 2px;
  border-radius: 0.4em;
  cursor: pointer;

  padding: 0px 2px;
  margin: 0px -2px;
}
.word.good:hover {
  border-color: var(--color-bad);
  background-color: var(--color-bad-bg);
}
.word.bad {
  text-decoration: var(--color-bad) underline 2px;
  background-color: var(--color-bad-bg);
}
.word.unknown {
  text-decoration: var(--color-unknown) underline 2px;
}
.word.bad:hover,
.word.unknown:hover
{
  border-color: var(--color-good);
  background-color: var(--color-good-bg);
}
