html {
  --color-bad: var(--color-error);
  --color-bad-bg: color-mix(in oklch, var(--color-bad) 30%, transparent);
  --color-good: var(--color-ok);
  --color-good-bg: color-mix(in oklch, var(--color-ok) 30%, transparent);
  --color-unknown: color-mix(
    in oklch,
    var(--color-text) 60%,
    var(--color-error)
  );
}

.tag-b {
  text-decoration: underline;
  /* Specify text-decoration-thickness because some browsers don't support it */
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-bad);
  -webkit-text-decoration-color: var(--color-bad);
}
.tag-u {
  text-decoration: underline;
  /* Specify text-decoration-thickness because some browsers don't support it */
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-unknown);
  -webkit-text-decoration-color: var(--color-unknown);
}
