<!DOCTYPE html>
<!-- vim: set ft=html: -->
<html>
  <head>

    <title>{% block title%}Global Chat{% endblock title %}{% if rocket_profile() != "release" %} ({{ rocket_profile() }}){% endif %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,interactive-widget=resizes-content">
    <link rel="icon" href="{{ url(path="/static/logo.webp") }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:wght@700&display=swap" rel="stylesheet">
		

    {% block head %}
    {% endblock head%}
  </head>
  <body>
    {% block content %}
    {% endblock content %}

    <script
    src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
    integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
    crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
