<!-- vim: set spelllang=nl: -->
<section>
  <h1 style="text-align:center">⚠️ Belangrijke regels ⚠️</h1>
  <ul>
    <li><b>Hou het proper:</b> geen racisme, seksisme of andere foute ismes.</li>
    <li>Dit is <b>geen</b> plek om <b>politieke discussies</b> te voeren.</li>
    <li>Er is een <b>automatische filter</b>, het is mogelijk dat je bericht onterecht geblokkeerd wordt <b>Heb daar begrip voor</b> en probeer een andere formulering.</li>
    <li>Deel <b>geen persoonlijke gegevens</b>. (telefoonnummers, thuisadressen, wachtwoorden, ...)</li>
    <li>Het is mogelijk om een willekeurige naam te kiezen. <b>Vertrouw dus niemand</b> op basis van hun naam.</li>
    <li>Voer gesprekken alleen in het <b>Engels</b> of <b>Nederlands</b></li>
    <li>Een overtreding, kan resulteren in een <b>(tijdelijke) ban</b></li>
  </ul>
</section>
