{% extends "base" %}

<!-- vim: set ft=html: -->

{% block head %}
<style>
{{ theme_css }}
</style>
<link rel="stylesheet" href="{{ url(path="/static/index.css") }}" />
{% endblock head %}

{% block content %}
<div class="view">
  <main>
    <h1>{{ title }}</h1>
    <p>{{ error }}</p>
    <a href="/">Ga terug naar de start pagina</a>
  </main>
</div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}
