{% extends "base" %}

<!-- vim: set ft=html: -->

{% block head %}
<style type="text/css">
{{theme_css}}
</style>

<link rel="stylesheet" href="{{ url(path="/static/v1.css") }}" />
{% endblock head %}

{% block content %}

<dialog id="login">
  <div id="disclaimer" data-disclaimer-ver="0">
    <div class="logo">
      {% include "svg/gclogo" %}
    </div>

    {% include "disclaimer" %}
    <div class="layered-section">
      <label for="disclaimer-check">
        <input id="disclaimer-check" type="checkbox" disabled>
        Ik heb alles gelezen en ga er mee akkoord</label>
      <p id="disclaimer-countdown-text">Je kunt accepteren binnen <time id="disclaimer-countdown"></time></p>
    </div>
  </div>

  <a href="#" class="center-link" style="margin-top:1em" target="_blank">Open global chat in een nieuwe tab</a>
  <span id="err-mesg" class="err"></span>
  <div class="container">
    <input autofocus maxlength="{{max_username_len}}" id="name-input" type="text" placeholder="({{placeholder}})" data-default_username="{{placeholder}}">
    <button id="connectbtn" class="button">
      {% include "svg/arrow_r" %}
    </button>
  </div>
</dialog>

<dialog id="connection-status" class="loading-dialog">
  <span>connecting</span>
</dialog>

<dialog id="profane-message-dialog">
  <h1>Er zit een ongepast woord in je bericht</h1>
  <p>Jou bericht bevat het scheld woord <mark id="badword" class="profanity-mark"></mark></p>
  <div class="flex-col" id="profane-message"></div>
  <p>Dit is een automatisch bericht maar je kunt nog steeds geband worden door menselijke moderators.<br>Je kunt weer chatten binnen <time id="profane-message-countdown"></time>.</p>

  <button class="pillbtn" id="profane-message-ok">Ok</button>
</dialog>

<template id="message-template">
  <div class="message">
    <svg class="driehoek_bubble" viewBox="0 0 8 13" height="13" width="8" preserveAspectRatio="xMidYMid meet" version="1.1" x="0px" y="0px" enable-background="new 0 0 8 13"><path fill="currentColor" d="M1.5,2.5L8,11.2V0L2.8,0C1,0,0.5,1.2,1.5,2.6z"></path></svg>
    <div class="user_content">
      <div class="message_top">
        <span class="user"></span>
        <small class="timestamp"></small>
      </div>
      <div class="content"></div>
      <div class="message-actions">
        {% if is_mod %}
        <button class="delbtn unimportantbtn">delete</button>
        {% endif %}
      </div>
    </div>
  </div>
</template>

<header id="topbar">
  <button id="leavebtn" class="button">
    {% include "svg/arrow_l" %}
  </button>

  <h1 class="chat-name">Global chat</h1>
</header>
<div id="mesgs"></div>
<div class="bottom">
  <div id="botbar">
    <div id="send-input" contenteditable data-plaintext="true" enterkeyhint="send" placeholder="Enter a message"></div> <!--Er is denk ik geen goede manier om textareas niet raar te laten zijn dus we moeten hier wel een div gebruiken :(-->
    <button id="sendbtn" class="button">
      {% include "svg/arrow_r" %}
    </button>
  </div>
</div>

{% endblock content %}

{% block scripts %}
<script type="text/javascript">
  var local_commands = [];

  let protocol = "ws://"
  if (location.protocol.endsWith("s:")){
    protocol =  "wss://"
  }
  const VERSION_INT = {{ version_int() }}
  const WEBSOCKET_URL=protocol+location.host+ROOT_URL+"/socket/v1";
  const MAX_MESSAGE_LEN="{{max_message_len}}";
  const MIN_MESSAGE_LEN="{{min_message_len}}";
</script>
<script defer type="text/javascript" src="{{ url(path="/static/v1.js") }}"></script>
{% endblock scripts %}
