{% extends "base" %}

<!-- vim: set ft=html: -->

{% block head %}
<style type="text/css">
{{theme_css}}
</style>

<link rel="stylesheet" href="{{ url(path="/static/v1.css") }}" />
{% endblock head %}

{% block content %}

<dialog id="login">
  <div id="disclaimer" data-disclaimer-ver="0">
    <div class="logo">
      {% include "svg/gclogo" %}
    </div>

    {% include "disclaimer" %}
    <div class="layered-section">
      <label for="disclaimer-check">
        <input id="disclaimer-check" type="checkbox" disabled>
        Ik heb alles gelezen en ga er mee akkoord</label>
      <p id="disclaimer-countdown-text">Je kunt accepteren binnen <time id="disclaimer-countdown"></time> seconde(n)</p>
    </div>
  </div>

  <span id="err-mesg" class="err"></span>
  <div class="container">
    <input autofocus maxlength="{{max_username_len}}" id="name-input" type="text" placeholder="({{placeholder}})" data-default_username="{{placeholder}}">
    <button id="connectbtn" class="button">
      {% include "svg/arrow_r" %}
    </button>
  </div>
</dialog>

<dialog id="connection-status">
  <span>connecting</span>
</dialog>

<header id="topbar">
  <button id="leavebtn" class="button">
    {% include "svg/arrow_l" %}
  </button>

  <h1 class="chat-name">Global chat</h1>
</header>
<div id="mesgs"></div>
<div class="bottom">
  <div id="botbar">
    <div id="send-input" contenteditable data-plaintext="true" enterkeyhint="send" placeholder="Enter a message"></div> <!--Er is denk ik geen goede manier om textareas niet raar te laten zijn dus we moeten hier wel een div gebruiken :(-->
    <button id="sendbtn" class="button">
      <svg
          width="20"
          height="20"
          viewBox="0 0 5.2916666 5.2916666"
          version="1.1">
        <path
            style="fill:currentColor;stroke:currentColor;stroke-width:0.529167;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
            d="M 4.7624998,2.6458335 0.52916665,0.52916671 1.0583333,2.1166668 3.9687498,2.6458335 1.0583333,3.1750002 0.52916665,4.7625003 Z"/>
      </svg>
    </button>
  </div>
</div>

{% endblock content %}

{% block scripts %}
<script type="text/javascript">
  var local_commands = [];

  {% if debug %}
  function reload_js() {
    location = "/debug/reload_js"
  }
  local_commands.push(["/reloadjs", function(){
    reload_js();
  }]);
  {% endif %}

  let protocol = "ws://"
  if (location.protocol.endsWith("s:")){
    protocol =  "wss://"
  }
  const VERSION_INT = {{ version_int() }}
  const WEBSOCKET_URL=protocol+location.host+"/socket/v1";
  const MAX_MESSAGE_LEN="{{max_message_len}}";
  const MIN_MESSAGE_LEN="{{min_message_len}}";
</script>
<script defer type="text/javascript" src="{{ url(path="/static/v1.js") }}"></script>
{% endblock scripts %}
