main {
  flex-grow: 100;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.word {
  flex-grow: 100;
}

.last-modified {
  color: var(--color-text);
  opacity: 0.5;
  font-weight: normal;
  width: 10rem;
  text-align: right;
}
