{% extends "base" %}

<!-- vim: set ft=html: -->

{% block head %}
<style type="text/css">
{{theme_css}}
</style>

<link rel="stylesheet" href="{{ url(path="/static/chat.css") }}" />
{% if glass %}
<link rel="stylesheet" href="{{ url(path="/static/chat_glass.css") }}" />
{% endif %}
{% endblock head %}

{% block content %}


<dialog id="login">
  {% if not readonly or true %} 
  <a class="logout" href="/login?redirect=/v1"><span>Uitloggen</span>{% include "svg/arrow_r" %}</a>
  {% endif %}
  {% include "logo_header" %}
  {% if is_mod %}
  <label for="show-mod-badge" style="text-align:center"><input id="show-mod-badge" type="checkbox"> Moderator badge</label>
  {% endif %}
  <div class="layered-section" id="ban" style="display:none">
    <h1 class="center-title">Je bent verbannen 🔨</h1>
    <p>Door ongepast gebruik van de chat ben je verbannen wegens:</p>
    <p id="ban-reason">Loading...</p>
    <small>Je kan terug joinen over <span id="ban-release-time">55 minuten</span></small>
  </div>
  <span id="err-mesg" class="err"></span>
  <div class="container">
    {% if readonly %}
    <div class="ro-name-input"><span>Alleen lezen</span></div>
    {% else %}
    <input autofocus maxlength="{{max_username_len}}" id="name-input" type="text" placeholder="({{ irl_name }})" data-default_username="{{ irl_name }}">
    {% endif %}
    <button id="connectbtn" class="button">
      {% include "svg/arrow_r" %}
    </button>
  </div>
  {% if readonly %}
  <a class="goto-chat-link" href="/v1">Terug naar de gewone chat</a>
  {% endif %}
</dialog>

<dialog id="connection-status" class="loading-dialog">
  <span>connecting</span>
</dialog>

<dialog id="profwarn-dialog">
  <h1>Je bericht bevat mogelijks een ongepast woord:</h1>
  <div class="flex-col" id="profwarn-message"></div>
  <p>Dit werd automatisch gedetecteerd maar je kan nog steeds verbannen worden door moderators.<br>Je kan weer chatten na <time id="profwarn-countdown"></time>.</p>
  <button class="pillbtn" id="profwarn-ok">Ok</button>
</dialog>

{% include "wfedit" %}
{% include "ban-dialog" %}

<template id="message-template">
  <div class="message">
    <svg class="msg_arrow" viewbox="-0.5 -0.5 5 5">
      <path d="M 0,0 5.2916666,5.2916666 V 0 Z"></path>
    </svg>
    <div class="user_content">
      <div class="message_top">
        <span class="user"></span>
        <span class="role"></span>
        <small class="timestamp"></small>
      </div>
      <div class="content"></div>
      <div class="message-actions">
      </div>
    </div>
  </div>
</template>

<div id="wfcommit-spinner" style="display:none" class="loading-spinner">filter update</div>
<header class="slim-header" id="topbar">
  <button id="leavebtn" class="button">
    {% include "svg/arrow_l" %}
  </button>
<h1 class="header-title chat-name">Global Chat</h1>
  <div class="user-count">
    <span id="user-count-text">0</span>
    {% include "svg/user_icon" %}
  </div>
</header>
<main>
<div id="mesgs"></div>
  {% if not readonly %}
  <div id="botbar">
    <div id="send-input" contenteditable data-plaintext="true" enterkeyhint="send" placeholder="Enter a message"></div> <!--Er is denk ik geen goede manier om textareas niet raar te laten zijn dus we moeten hier wel een div gebruiken :(-->
    <button id="sendbtn" class="button">
      {% include "svg/arrow_r" %}
    </button>
  </div>
  {% endif %}
</main>

{% endblock content %}

{% block scripts %}
<script type="text/javascript">
  var local_commands = [];

  let protocol = "ws://"
  if (location.protocol.endsWith("s:")){
    protocol =  "wss://"
  }
  const VERSION_INT = {{ version_int() }}
  const WEBSOCKET_URL=protocol+location.host+"/socket{% if readonly %}/rochat{% else %}/chat{% endif %}";
  const READONLY = {% if readonly %}true{% else %}false{% endif %};
  const MAX_MESSAGE_LEN="{{max_message_len}}";
  const MIN_MESSAGE_LEN="{{min_message_len}}";
  const ROLE={{ role }};
</script>
<script defer type="text/javascript" src="{{ url(path="/static/chat.js") }}"></script>
{% endblock scripts %}
