{% extends "base" %}

<!-- vim: set ft=html: -->

{% block head %}
<style>
{{ theme_css }}
</style>
<link rel="stylesheet" href="{{ url(path="/static/basic.css") }}" />
{% endblock head %}

{% block content %}
<div class="view">
  <main>
    <h1>{{ title }}</h1>
    <p>{{ error }}</p>
    <code>
      {{ internal }}
    </code>
    <p>
      Probeer eens je pagina te refreshen of
      <a href="/v1">Terug naar chat</a>
    </p>
  </main>
</div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}
