{% extends "base" %}

<!-- vim: set ft=html: -->

{% block head %}
<style>
{{ theme_css }}
</style>
<link rel="stylesheet" href="{{ url(path="/static/basic.css") }}" />
{% endblock head %}

{% block content %}
<div class="view">
  <main>
    <h1>{{ title }}</h1>
    <p>{{ error }}</p>

    {% if internal == "404" %}
    <p>
      Aanschouw!! <em>Het ei</em>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img style="margin:2rem;width:100px;display:block;" src="/static/stickies/404.webp"></a>
      Wanneer <em>het ei</em> voldoende bewondert is kunt u proberen de pagina te refreshen of
      <a href="/v1">Terug te keren naar de chat</a>
    </p>
    {% else %}
    <code>
      {{ internal }}
    </code>
    <p>
      Probeer eens de pagina te refreshen of
      <a href="/v1">Keer terug naar chat</a>
    </p>
    {% endif %}

  </main>
</div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}
