{% extends "base" %}
<!-- vim: set ft=html: -->

{% block title %}
Home - Global Chat
{% endblock title %}
{% block head %}

<style type="text/css">
{{theme_css}}
</style>

<link rel="stylesheet" href="{{ url(path="/static/home.css") }}" />
{% endblock head %}

{% block content %}

<header>
  <h1 class="header-title">Home</h1>
  <span class="role" data-role="{{role}}">
    {{role}}
  </span>
</header>
<main class="button-list">
  <a class="button" href="/chat"><img class="btnicon" src="{{ url(path="/static/logo.webp")}}"><span>Chat</span></a>
  {% if role == "Admin" %}
  <a class="button" href="/prof">Profanity filter</a>
  {% endif %}
</main>

{% endblock content %}
