{% extends "base" %}
<!-- vim: set ft=html: -->

{% block title %}
Home - Global Chat
{% endblock title %}
{% block head %}

<style type="text/css">
{{theme_css}}
</style>

<link rel="stylesheet" href="{{ url(path="/static/basic.css") }}" />
{% endblock head %}

{% block content %}

<header>
  <h1 class="header-title">Home</h1>
  {% if logged_in %}
  <span class="role" data-role="{{role}}" style="font-weight:bold;color:var(--color-accent);">
    {{role}}
  </span>
  {% endif%}
</header>
<main class="button-list">
  {% if logged_in %}
  <a class="button" href="/v1"><img class="btnicon" src="{{ url(path="/static/logo.webp")}}"><span>Chat</span></a>
  {% else %}
  <a class="button" href="/login?redirect=/">login</a>
  {% endif %}

  <a class="button" href="/rochat"><img style="filter: saturate(0%)" class="btnicon" src="{{ url(path="/static/logo.webp")}}"><span>Alleen Lezen Chat</span></a>

  {% if is_admin %}
  <a class="button" href="/prof">Profanity filter</a>
  <a class="button" href="/mods">Moderators</a>
  {% endif %}
</main>

{% endblock content %}
