{% extends "base" %}

<!-- vim: set ft=html: -->

{% block title %}
Login Compleet - Global Chat
{% endblock title %}

{% block head %}
<style>
{{ theme_css }}
</style>
<link rel="stylesheet" href="{{ url(path="/static/basic.css") }}" />
{% endblock head %}

{% block content %}
<div class="view">
  <main>
    <h1>Je bent ingelogd!</h1>
    <p>Dit tablad mag gesloten worden</p>
  </main>
</div>

{% endblock content %}

{% block scripts %}
<script>
  window.opener.postMessage( { type:'login-complete' }, location.origin);
</script>
{% endblock scripts %}
