{% extends "base" %}
<!-- vim: set ft=html: -->

{% block title %}
Moderators - Global Chat
{% endblock title %}

{% block head %}

<style type="text/css">
{{theme_css}}
</style>

<link rel="stylesheet" href="{{ url(path="/static/home.css") }}" />
{% endblock head %}

{% block content %}

<div class="view">
<header class="slim-header">
  <a href="/" class="button">
    {% include "svg/arrow_l" %}
  </a>
  <h1 class="header-title">Moderators</h1>
</header>
<main>
  <h2>Moderators</h2>
  <table>
    <thead>
      <tr>
        <th style="text-align:left;">Irl Name</th>
        <th style="width: 6em;">Role</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.role }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Keys</h2>
  <table>
    <thead>
      <tr>
        <th style="text-align:left;">Key</th>
        <th>Used by</th>
        <th style="width: 6em;">Role</th>
      </tr>
    </thead>
    <tbody>
      {% for key in keys %}
      <tr>
        <td><code>{{ key.key }}</code><button class="pillbtn copybtn" onclick="navigator.clipboard.writeText('https://gc.smartschoolplusplus.com/promote?key={{ key.key }}'); this.innerText='copied!'; setTimeout(()=>{this.innerText='copy'}, 1000)">copy</button></td>
        <td>{{ key.used_by }}</td>
        <td>{{ key.new_role }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
<div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}
