{% extends "base" %}

<!-- vim: set ft=html: -->

{% block title %}
Claim Promotion - Global Chat
{% endblock title %}

{% block head %}
<style>
{{ theme_css }}
</style>
<link rel="stylesheet" href="{{ url(path="/static/basic.css") }}" />
{% endblock head %}

{% block content %}
<div class="view">
  <main>
    {% if status == "invalidkey" %}
    <h1>Ongeldige sleutel</h1>
    <p>Vraag om een nieuwe sleutel.</p>

    {% elif status == "keyused" %}
    <h1>De sleutel is al in gebruik</h1>
    <p>Vraag om een nieuwe sleutel.</p>

    {% elif status == "higherrole" %}
    <h1>Je hebt al een andere sleutel gebruikt</h1>
    <p>Deze sleutel is geldig en nog niet gebruikt maar je bent al een moderator, admin, ...</p>

    {% else %}
    <h1>Ongeldige status</h1>
    <p>Oops klein foutje van mij (of groot) (lukas was hier en ja het was waarschijnlijk een groot foutje)</p>
    <code>status: {{ status }}</code>

    {% endif %}
  </main>
</div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}
