{% extends "base" %}

<!-- vim: set ft=html: -->

{% block head %}
<style>
{{ theme_css }}
</style>
<link rel="stylesheet" href="{{ url(path="/static/home.css") }}" />
{% endblock head %}

{% block content %}
<div class="view">
  <main>
    {% if status == "invalidkey" %}
    <h1>Ongeldige sleutel</h1>
    <p>Vraag aan de persoon die jou de link heeft gestuurd om een nieuwe.</p>

    {% elif status == "keyused" %}
    <h1>De sleutel is al in gebruik</h1>
    <p>Vraag aan de persoon die jou de link heeft gestuurd om een nieuwe.</p>

    {% elif status == "higherrole" %}
    <h1>Je hebt al een andere sleutel gebruikt</h1>
    <p>Deze sleutel is gelig en nog niet gebruikt maar je bent al een moderator of hoger.</p>

    {% else %}
    <h1>Ongeldige status</h1>
    <p>Oops klein foutje van mij (of groot)</p>
    <code>status: {{ status }}</code>

    {% endif %}
  </main>
</div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}
