{% extends "base" %}

<!-- vim: set ft=html: -->
{% block title %}
Global Chat Admin
{% endblock title %}

{% block head %}

<style type="text/css">
{{theme_css}}
</style>

<link rel="stylesheet" href="{{ url(path="/static/admin.css") }}" />
{% endblock head %}

{% block content %}

<template id="rule-template">
    <div class="rule">
      <div class="top-row">
        <div contenteditable class="rule-input" type="text"></div>
      </div>
      <div class="bot-row">
        <div class="rule-options">
          {% for flag in flagsinfo %}
          <div class="rule-option" title="{{ flag.2 }}" onclick="if (this.classList.contains('checked')){ this.classList.remove('checked'); }else{ this.classList.add('checked'); }">{{ flag.0 }}</div>
          {% endfor %}
        </div>
        <button class="pillbtn rule-del">Delete rule</button>
      </div>
      <div class="errors">
      </div>
    </div>
</template>

<header>
  <h1>Profanity filter</h1>
</header>
<main>
  <h1>Rules</h1>
  <div id="rules-list">

  </div>
  <button class="pillbtn" id="rule-add">Add rule</button>

</main>

{% endblock content %}

{% block scripts %}
<script defer type="text/javascript" src="{{ url(path="/static/admin.js") }}"></script>
{% endblock scripts %}
