body {
  background-color: var(--color-base00);
  color: var(--color-text);
}


.header-title{
  margin: 0px;
}


main {
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  min-width: 100em;
}

@media screen and (max-width: 100rem) {
  main {
    min-width: auto;
    margin: 0px;
  }
}
.view {
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  background: var(--color-base01);
  border-top: solid var(--color-base02) var(--border-size);
  padding: 0.5em;

}
.left-tools * {
  margin-left: auto;
}
.left-tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.right-tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
}


.rules-list {
  display:flex;
  flex-direction:column;
}

@keyframes ruleSpawn {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  80%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

.rule {
  animation: ruleSpawn 0.3s ease-in-out;
  animation-fill-mode: both;
  background: var(--color-base01);
  border: solid var(--color-base02) var(--border-size);
  border-radius: var(--border-radius);
  margin-top: 2em;
  padding: 1em;

  display:flex;
  flex-direction: column;
  transition: border-color 0.5s;
}
.rule:target,
.rule:focus {
  border-color: var(--color-accent);
}
.rule .top-row,
.rule .bot-row {
  display:flex;
  flex-direction: row;
}

.insert-rule {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.insert-rule div {
  margin-left: 1em;
  margin-right: 1em;
  flex-grow: 1;
  border-radius: 1000px;
  background: var(--color-base03);
  height: var(--border-size);
}
.insert-rule button {
  color: var(--color-base00);
  background: var(--color-accent);
  border-radius: 10000px;
  padding: 5px;
  display:block;
}

.replace-arrow {
  margin: calc(5px + var(--border-size)) 1em 1em 1em;
  font-family: "JetBrains Mono", monospace;
  font-weight: bold;
  color: var(--color-accent);
}
.rule-input {
  flex-grow: 10;
  font-size: 15px;
  font-family: "JetBrains Mono", monospace;
  background: var(--color-base02);
  border: solid var(--color-base03) var(--border-size);
  color: var(--color-text);
  margin: 0em 0em 1em 0em;
}
.char-rule-input {
  flex-grow: 0;
}

.rule-options {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.rule-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
}
.rule-buttons * {
  margin-left: auto;
}

.rule-option {
  border: solid var(--color-base03) var(--border-size);
  border-radius: 10000px;
  padding: 0px 0.5em 0px 0.5em;
  margin: 3px 2px 3px 2px;

  font-family: "JetBrains Mono", monospace;
  cursor: pointer;
  color: var(--color-text);
  background-color: var(--color-base02);
  transition: background-color 0.5s, border-color 0.5s, color 0.5s;

  padding: 4px 10px 5px 10px;
}
.checked {
  border-color: var(--color-accent);
  color: var(--color-accent);
}

.top-row,
.rule-options {
  transition: opacity 0.5s;
}

.rule-disabled .top-row,
.rule-disabled .rule-options {
  opacity: 0.3;
}
@keyframes ruleDelete {
  0% {
  }
  100%{
    transform: translateY(100px);
    opacity: 0;
    display: none;
    background: var(--color-error);
  }
}
.rule-deleted {
  animation: ruleDelete 0.5s;
  animation-fill-mode: both;
  animation-delay: 0s !important; /* This is important to overide the animation-delay in style that is given for the spawn animation */
}

#save-dialog {
  display:flex;
  flex-direction: column;
}

.lint-section {
  padding-top: 0px;
  margin-bottom: 2em;
  overflow: scroll;
}

.lint {
  font-family: "JetBrains Mono", monospace;
  margin-bottom: 0.5em;
  color: var(--color-text);
  display:flex;
  padding: 0.3em;
  border-bottom: solid var(--color-base03) var(--border-size);
}
.lint:before {
  font-family: "JetBrains Mono", monospace;
  font-weight: bold;
  margin-right: 1em;
}
.lint-links {
  margin-left: auto;
}
.lint-links a {
  margin: 0em 0.5em 0em 0.5em;
}
.lint span {
  margin-right: 4em;
}

.lint-notify:before
{
  content:"nofity: ";
  color: var(--color-ok);
}

.lint-error {
  color: var(--color-error);
}
.lint-error:before {
  content:"error: ";
  color: var(--color-error);
}
#error-dialog {
  display:flex;
  flex-direction: column;
}
#error-message {
  text-align: center;
  font-weight: bold;
  color: var(--color-error);
  margin-top: 0px;
}

.hints {
  margin-left: 0.5em;
  opacity: 0.8;
}

.role {
  font-weight: bold;
  color: var(--color-accent);
}
