#login{
  color:var(--text_color);

  align-self: center;
  border: none;
  border-radius: 30px;
  max-width: 600px;
  padding: 1em;
  background-color: var(--color_base01-b0);
  overflow:visible;

  flex-direction: column;
  margin: auto;
}
#login[open]{
  display:flex;
}


#login > .container{
  transition: transform 0.6s;
  margin: 0.5em;
  margin-top: 1em;
  display:flex;
  flex-direction: row;
  background: var(--color_base02);
  border-radius: 10000px;
  overflow:hidden;
  transform: scale(2);
}
#login[open] > .container{
  transform: scale(1);
}

#name-input {
  font-family: inherit;
  font-size: inherit;
  border:none;
  background: var(--color_base02);
  color: var(--color_text);
  display: block;
  padding: 14px 20px;
  flex-grow:10;
  margin: 3px;
  border-radius: 10000px;
  min-width:0px;
}

#name-input::placeholder{
  color: var(--color_text);
  opacity: 0.7;
}

#login .logo{
  margin: 2rem;
  margin-left:auto;
  margin-right:auto;
  color: var(--color_accent);
  max-width: 50vw;
  transition: transform 0.5s;

  transform: scale(4);
}

#login[open] .logo{
  transform: scale(1);
}

@starting-style{
  #login[open] > .logo{
    transform: scale(10);
  }
  #login[open] > .container{
    transform: scale(2);
  }
}
